<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActive]="['active']"
          [routerLink]="['item']"
          >Item</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActive]="['active']"
          [routerLink]="['category']"
          >Category</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
